<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美好生活备忘录</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\usual.css">
    <script src="static/jquery/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vuejs/vue.min.js"></script>
    <script src="static/vuejs/vue-resource.min.js"></script>

    <style>
        .form-group {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <div class="header-container">
                <div class="logo-box">
                    <a :href="'/web/home.html?uuid=' + this.uuid"><img src="./image/login.png" alt="logo"></a>
                </div>
                <h1 class="title-text">美好生活备忘录</h1>
                <div class="menu-box">
                    <div class="btn-box">
                        <a href="#"><img src="./image/add.png" title="添加备忘"> </a>
                    </div>
                    <div class="btn-box">
                        <a href="/web/login.html"><img src="./image/logout.png" title="注销账号"> </a>
                    </div>
                </div>
            </div>
        </header>
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="title">
                            <h1>请输入标题：</h1>
                        </label>
                        <input id="title" class="form-control" type="text" v-model="title">
                    </div>
                    <div class="form-group">
                        <label for="content">
                            <h1>请输入内容：</h1>
                        </label>
                        <textarea id="content" name="content" class="form-group" v-model="text">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <select v-model="tag" style="float: left;" @click="printtag">
                            <option v-for="t in tags" v-bind:value="t.tagname">
                                {{ t.tagname }}
                            </option>
                        </select>
                        <p>&nbsp;&nbsp;请选择标签</p>
                    </div>
                    <div class="form-group">
                        <ul style="padding-left: 0;">
                            <li v-if="filename!=''" style="list-style: none; margin: 0;">
                                <a class="btn btn-warning btn-xs" @click="rmfile">删除文件</a>
                                <a :href="'http://localhost/'+filepath" target="_blank">{{filename}}</a>
                            </li>
                            <!-- <li v-for="f in files" style="list-style: none; margin: 0;">
                                <a class="btn btn-warning btn-xs" @click="">删除文件</a>
                                <a>{{f.name}}</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="form-group">
                        <form id="form1" action="/uploadfile" method="post" enctype="multipart/form-data"
                            target="frame1" style="margin: 0;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="file" type="file" name="file">
                                        <p class="help-block">请先上传文件，后点击提交</p>
                                        <button type="button" class="btn btn-default" @click="upload">上传文件</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <iframe name="frame1" frameborder="0" height="99px" width="100%"
                                        scrolling="no"></iframe>
                                </div>
                                <!-- <div style="height: 0;width: 0;">
                                    <input type="text" name="uuid" value=this.uuid />  <br>
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-info btn-block" @click="tempsave">暂存数据</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-warning btn-block" @click="deltempsave">取消暂存</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" @click="addrecord">提交</button>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p>machooo@qq.com</p>
        </footer>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                uuid: "",
                recordid: "",
                title: "",
                text: "",
                files: [],
                filepath: "",
                filename: "",
                iscommit: 1, // 默认提交
                isaddsave: 1, // 默认是新建时的暂存
                tag: "其它",
                tags: [],
            },
            mounted: function () {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                this.uuid = theRequest.uuid
                this.recordid = theRequest.recordid
                console.log(this.uuid);
                console.log(this.recordid);
                if (this.recordid === undefined) {
                    this.$http.get('/querytempsave?uuid=' + this.uuid).then(function (res) {
                            this.title = res.body.title;
                            this.text = res.body.text;
                            this.tag = res.body.tagname;
                            this.filepath = res.body.filepath;
                            this.filename = res.body.filename;
                            this.recordid = res.body.id;
                            date = res.body.date;
                            console.log(this.recordid);
                            if (date == "0") {
                                this.recordid = this.generateRecordID();
                                this.tag = "其它";
                            }
                            console.log(this.recordid);
                        },
                        function (res) {
                            alert("获取上次暂存数据有误，请稍后重试")
                        });
                } else {
                    this.$http.get('/showrecord?recordid=' + this.recordid).then(function (res) {
                            this.title = res.body.title;
                            this.text = res.body.text;
                            this.tag = res.body.tagname;
                            this.filepath = res.body.filepath;
                            this.filename = res.body.filename;
                        },
                        function (res) {
                            alert("获取该记录详细信息有误，请稍后重试")
                        });
                    console.log(this.recordid);
                    this.isaddsave = 0
                }
                this.gettags()
            },
            methods: {

                printtag: function () {
                    console.log(this.tag);
                },
                gettags: function () {
                    this.$http.get('/getalltag').then(function (res) {
                            this.tags = res.body;
                        },
                        function (res) {
                            alert("获取标签信息有误，请稍后重试")
                        });
                },
                upload: function () {
                    $("#form1").submit();
                    var t = setInterval(() => {
                        //获取iframe标签里body元素里的文字。即服务器响应过来的"上传成功"或"上传失败"
                        var word = $("iframe[name='frame1']").contents().find("body")
                            .text();
                        if (word != "") {
                            // alert(word); //弹窗提示是否上传成功
                            clearInterval(t); //清除定时器
                            // console.log(word); // ---------------在此处暂存标题及内容----------------- work
                            this.filepath = word
                            this.filepath = this.filepath.substring(document.getElementById('file')
                                .files[0].name.length + 8, this.filepath.length)

                            this.filename = document.getElementById('file').files[0].name;
                            console.log(this.filename);
                            console.log(this.filepath);
                        } else {
                            clearInterval(t); //清除定时器
                            alert("请选择文件进行上传...");
                        }
                    }, 1000);
                },
                rmfile: function () {
                    this.filepath = ""
                    this.filename = ""
                },
                tempsave: function () {
                    this.iscommit = 0
                    console.log(this.filepath);
                    this.addrecord()
                },
                addrecord: async function () {
                    console.log(this.filepath);
                    await this.run()
                },
                run: function () {
                    // if (this.recordid == undefined) {
                    this.$http.post('/addrecord?uuid=' + this.uuid + '&recordid=' + this
                        .recordid +
                        '&iscommit=' + this.iscommit + '&isaddsave=' + this.isaddsave, {
                            title: this.title,
                            text: this.text,
                            tagname: this.tag,
                            filepath: this.filepath,
                            filename: this.filename,
                        }).then(function (res) {
                        alert("操作成功")
                        window.location.href = "/web/home.html?uuid=" + this.uuid
                    }, function (res) {
                        alert("操作失败......\r\n" + res.body)

                        // window.location.href = '/web/change.html?uuid=' + this.uuid
                    })
                },
                generateRecordID: function () {
                    var d = new Date().getTime();
                    if (window.performance && typeof window.performance.now === "function") {
                        d += performance.now(); //use high-precision timer if available
                    }
                    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
                        function (c) {
                            var r = (d + Math.random() * 16) % 16 | 0;
                            d = Math.floor(d / 16);
                            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                        });
                    return uuid;
                },
                deltempsave: function () {
                    this.$http.delete('/deltempsave?recordid=' + this.recordid).then(function () {
                            alert("操作成功")
                            window.location.href = "/web/home.html?uuid=" + this.uuid
                        },
                        function (res) {
                            alert("取消暂存有误，请稍后重试")
                        });
                },
                // getfiles: function () {
                //     this.$http.get('/getfilename').then(function (res) {
                //             this.files = res.body
                //         },
                //         function (res) {
                //             alert("获取文件名称列表有误，请稍后重试")
                //         });
                // },
            },

        })
    </script>

</body>

</html>