<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\usual.css">
    <script src="static/jquery/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vuejs/vue.min.js"></script>
    <script src="static/vuejs/vue-resource.min.js"></script>
    <title>美好生活备忘录</title>
    <style>
        section {
            height: 100%;
            top: 50%;
            margin-left: -25px;
            color: rgb(166, 173, 177);
        }

        p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            font-size: medium;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <div class="header-container">
                <div class="logo-box">
                    <a :href="'/web/home.html?uuid=' + this.uuid"><img src="./image/login.png" alt="logo"></a>
                </div>
                <h1 class="title-text">美好生活备忘录</h1>
                <div class="menu-box">
                    <div class="btn-box">
                        <a :href="'/web/change.html?uuid=' + this.uuid"><img src="./image/add.png" title="添加备忘"> </a>
                    </div>
                    <div class="btn-box">
                        <a href="/web/login.html"><img src="./image/logout.png" title="注销账号"> </a>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <ul v-if="records.length==0" class="list-grou">
                    <h3>暂无任何记录</h3>
                </ul>

                <ul v-if="records!==null" class="list-grou">
                    <li v-for="record in records" class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a :href="'/web/info.html?uuid=' + record.uuid + '&recordid=' + record.id">
                                    <h3 class="panel-title">{{record.title}}</h3>
                                </a>
                            </div>
                            <div class="panel-body" style="height: 30px;">
                                <div id="date" style="float: left;">
                                    <p>{{record.date}}</p>
                                </div>
                            </div>
                            <div class="panel-body" style="font-style: inherit;">
                                <p class="sansserif"> {{record.text}}</p>

                                <!-- <div style="float: left;">
                                    <a href="#">
                                        <video height="300" width="400" controls>
                                            <source src="./video/trailer.mp4" type="video/mp4">
                                            您的浏览器不支持Video标签。
                                        </video>
                                    </a>
                                </div>
                                <div style="float: left;">
                                    <a href="#">
                                        <video height="300" width="400" controls>
                                            <source src="./video/trailer.mp4" type="video/mp4">
                                            您的浏览器不支持Video标签。
                                        </video>
                                    </a>
                                </div>
                                <div style="float: left;">
                                    <a href="./image/thumb-1920-340437.jpg" target="_blank">
                                        <img src="./image/thumb-1920-340437.jpg" height="300" width="400" alt="测试">
                                    </a>
                                </div>

                                <div style="float: left;">
                                    <a href="./image/thumb-1920-340437.jpg" target="_blank">
                                        <img src="./image/thumb-1920-340437.jpg" height="300" width="400" alt="测试">
                                    </a>
                                </div> -->

                            </div>
                    </li>
                </ul>
            </div>
        </section>

        <footer>
            <p>machooo@qq.com</p>
        </footer>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                uuid: "",
                records: []
            },

            mounted: function () {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                this.uuid = theRequest.uuid
                console.log(this.uuid);
                this.init()
            },
            methods: {
                init: function () {
                    this.$http.get('/getrecordlist?uuid=' + this.uuid).then(function (res) {
                            this.records = res.body
                        },
                        function (res) {
                            alert("获取备忘录信息有误，请稍后重试")
                        });
                },
            },
        });
    </script>
</body>

</html>