<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美好生活备忘录</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\usual.css">
    <script src="static/jquery/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vuejs/vue.min.js"></script>
    <script src="static/vuejs/vue-resource.min.js"></script>

</head>

<body>
    <div id="app">
        <header>

            <div class="header-container">

                <div class="logo-box">
                    <a :href="'/web/home.html?uuid=' + this.uuid"><img src="./image/login.png" alt="logo"></a>
                </div>
                <h1 class="title-text">美好生活备忘录</h1>
                <div class="menu-box">
                    <div class="btn-box">
                        <a :href="'/web/change.html?uuid=' + this.uuid"><img src="./image/add.png" title="添加备忘"> </a>
                    </div>
                    <div class="btn-box">
                        <a href="/web/login.html"><img src="./image/logout.png" title="注销账号"> </a>
                    </div>
                </div>
            </div>
        </header>

        <section class="container">
            <div v-if="record!==null" style="height: auto;">
                <div class="jumbotron">
                    <a :href="'/web/info.html?uuid=' + record.uuid + '&recordid=' + record.id">
                        <h1 class="panel-title">{{record.title}}</h1>
                    </a>
                    <p>{{record.date}}</p>
                    <p>{{record.text}}</p>
                    <video v-if="record.filetype=='mp4'" height="300" width="400" controls>
                        <source :src="'http://'+netip+'/'+record.filepath" type="video/mp4">
                        您的浏览器不支持Video标签。
                    </video>
                    <a v-if="record.filetype=='img'" :href="'http://'+netip+'/'+record.filepath" target="_blank">
                        <img :src="'http://'+netip+'/'+record.filepath" height="300" width="400" alt="测试">
                    </a>
                </div>

            </div>
            <a :href="'/web/change.html?uuid=' + record.uuid + '&recordid=' + record.id"><button
                    class="btn btn-primary">修改</button></a>
            <a><button class="btn btn-warning" data-toggle="modal" data-target="#ackDelModal">删除</button></a>
            <a><button class="btn btn-info" data-toggle="modal" data-target="#sharerecordModal">分享</button></a>

            <!-- ackDelModal -->
            <div class="modal fade" id="ackDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <p class="modal-title" id="myModalLabel" style="color: red;">提示</p>
                        </div>
                        <div class="modal-body">
                            确认删除后，该条记录将不复存在！（切记谨慎操作）
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" @click="delrecord">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sharerecordModal -->
            <div class="modal fade" id="sharerecordModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <p class="modal-title" id="shareModalLabel" style="color: red;">提示</p>
                        </div>
                        <div class="modal-body">
                            <p> 点击确认后，将会生成一个链接地址，陌生人也可通过此链接查看您该条文案信息!</p>
                            <p>（切记谨慎操作）</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="sharerecord"
                                data-toggle="modal" data-target="#showsharerecordURLModal">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- showsharerecordURLModal -->
            <div class="modal fade" id="showsharerecordURLModal" tabindex="-1" role="dialog"
                aria-labelledby="showshareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <p class="modal-title" id="showshareModalLabel" style="color: red;">提示</p>
                        </div>
                        <div class="modal-body">
                            <p> 此链接地址24小时候失效，请妥善保存!</p>
                            <div v-if="tempurl!=''">{{tempurl}}</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p>machooo@qq.com</p>
        </footer>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                uuid: "",
                recordid: "",
                record: null,
                tempurl: "",
                netip: "",
            },

            mounted: function () {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                this.uuid = theRequest.uuid
                this.recordid = theRequest.recordid
                console.log(this.uuid);
                console.log(this.recordid);
                this.init()
            },
            methods: {
                init: function () {
                    this.$http.get('/showrecord?recordid=' + this.recordid + '&info=1').then(function (
                            res) {
                            this.record = res.body
                        },
                        function (res) {
                            alert("获取该记录详细信息有误，请稍后重试")
                        });
                    this.getnetip()
                },
                getnetip: function () {
                    this.$http.get('/getnetip').then(function (res) {
                            this.netip = res.body;
                        },
                        function (res) {
                            alert("获取服务器地址有误，请稍后重试")
                        });
                },
                delrecord: function () {
                    this.$http.delete('/delrecord?uuid=' + this.uuid + '&recordid=' + this.recordid+'&tagname='+this.record.tagname).then(
                        function () {
                            window.location.href = "/web/home.html?uuid=" + this.uuid
                        },
                        function (res) {
                            alert("删除记录有误，请稍后重试")
                        });
                },
                sharerecord: function () {
                    this.$http.get('/createtemprecord?recordid=' + this.recordid)
                        .then(function (res) {
                                this.tempurl = res.body
                                console.log(this.tempurl)
                            },
                            function (res) {
                                alert("生成分享链接有误，请稍后重试")
                            });
                },
            },
        });
    </script>

</body>

</html>