<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美好生活备忘录</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\css\usual.css">
    <script src="static/jquery/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vuejs/vue.min.js"></script>
    <script src="static/vuejs/vue-resource.min.js"></script>

</head>

<body>
    <div id="app">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <div style="text-align: left;">
                            <a href="#"><img src="./image/login.png" alt="logo" title="回到主页面"></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">用户管理</a></li>
                                <li><a :href="'/web/checkrecord.html?uuid=' + this.uuid">文案审核</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="sys-name" style="text-align: center; font-size: 26px; line-height:50px ;margin-bottom: 0px;   color: rgb(195, 201, 202);
                               font-family: Arial, Helvetica, sans-serif;">美好生活备忘录管理页面</p>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: right;">
                            <a href="/web/login.html"><img src="./image/logout.png" title="退出账号"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="container">


            <div class="container">
                <div class="row">
                    <div style="overflow-x: auto;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody v-if="users!==null">
                                <tr v-for="user in users">
                                    <td>{{user.name}}</td>
                                    <td>{{user.mailbox}}</td>
                                    <td><a><button class="btn btn-warning" data-toggle="modal"
                                                data-target="#ackDelModal"
                                                @click="initDelUser(user.uuid)">删除</button></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ackDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <p class="modal-title" id="myModalLabel" style="color: red;">提示</p>
                        </div>
                        <div class="modal-body">
                            确认删除后，该用户将不复存在！（切记谨慎操作）
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                @click="delUser(this.delUserUUID)">确认</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <footer>
            <p>machooo@qq.com</p>
        </footer>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                uuid: "",
                users: null,
                delUserUUID: "",
            },

            mounted: function () {
                var url = location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                    }
                }
                this.uuid = theRequest.uuid
                console.log(this.uuid);
                this.init()
            },
            methods: {
                init: function () {
                    this.$http.get('/getAllUser?id=' + this.uuid).then(function (
                            res) {
                            this.users = res.body
                        },
                        function (res) {
                            alert("获取用户列表信息有误，请稍后重试")
                        });
                },
                initDelUser: function (uuid) {
                    this.delUserUUID = uuid
                    console.log(this.delUserUUID);
                },
                delUser: function () {
                    this.$http.delete('/delUser?uuid=' + this.delUserUUID).then(function () {
                            alert("操作成功")
                            console.log("操作成功");
                            window.location.href = "/web/manager.html?uuid=" + this.uuid
                        },
                        function (res) {
                            alert("删除用户失败，请稍后重试")
                        });
                },
            },
        });
    </script>

</body>

</html>