<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美好生活备忘录</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vuejs/vue.min.js"></script>
    <script src="static/vuejs/vue-resource.min.js"></script>

    <style>
        #form-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        body {
            background-size: 100%, 100%;
            background-attachment: fixed;
            text-align: center;
            background-image: url("./image/background.jpg");
            background-origin: content;
            /*从content区域开始显示背景*/
            background-position: 50%;
            /* 图片上下左右居中 */
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <br><br><br><br><br><br><br><br>
            <h1>美好生活备忘录<small style="font-size: x-small;"><br>machooo@qq.com</small></h1>
        </div>
        <section id="form-content">
            <form action="">
                <div class="form-group">
                    <label for="name">用户名:</label>
                    <input id="name" class="form-control" type="text" v-model="name">
                </div>
                <div class="form-group">
                    <label for="pass">密码:</label>
                    <input id="pass" class="form-control" type="password" v-model="first_pwd">
                </div>
                <div class="form-group">
                    <label for="pass">确认密码:</label>
                    <input id="pass" class="form-control" type="password" v-model="second_pwd">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-block" @click="regist">注册</button>
                </div>
            </form>
        </section>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                name: "",
                first_pwd: "",
                second_pwd: ""
            },
            methods: {
                regist: function () {
                    if (this.name == "") {
                        alert("用户名不许为空")
                        return
                    } else if (this.first_pwd == "") {
                        alert("密码不许为空")
                        return
                    } else if (this.second_pwd == "") {
                        alert("请确认密码")
                        return
                    }
                    if (this.first_pwd != this.second_pwd) {
                        alert("两次密码需输入一致")
                        return
                    }
                    this.$http.get('/regist?name=' + this.name + '&pwd=' + this.second_pwd).then(function (
                        res) {
                        alert("注册成功，请登录...")
                        window.location.href = "/web/login.html"
                    }, function () {
                        alert("注册失败，请重新注册...")
                    })
                }
            }
        });
    </script>
</body>

</html>